#order deny,allow
#deny from all
#allow from 176.234.106.192

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
   RewriteEngine On
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>