<IfModule mod_speling.c>
  CheckSpelling On
  CheckCaseOnly On
</IfModule>

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,R=301,NC] 